Repository worldcoin/world-id-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,js,jsx,mjs,css,json,md,yaml,graphql,mjml,svg}": "prettier --write"
}

fix: upgrade discord-api-types from 0.33.5 to 0.37.24
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @discordjs/rest from 0.4.1 to 0.6.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @aws-sdk/client-secrets-manager from 3.105.0 to 3.238.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @aws-sdk/client-eventbridge from 3.105.0 to 3.238.0
  package-lock.json
  package.json
Due: prettier --write

feat: authentication with discord
  middleware.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/api/interactions.ts
  pages/register.tsx
  src/Home/Intro/index.tsx
  src/Home/NoCaptcha/index.tsx
  src/Home/index.tsx
  src/common/Button/index.tsx
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

update env example
  .env.local.example
Due: none

fix: add identify scope
  pages/api/auth/[...nextauth].ts
Due: eslint --cache --fix, prettier --write

update README.md
  README.md
Due: prettier --write

replace Link with Button in Intro & NoCaptcha
  src/Home/Intro/index.tsx
  src/Home/NoCaptcha/index.tsx
Due: eslint --cache --fix, prettier --write

feat: authentication with discord (#37)
  .env.local.example
  README.md
  middleware.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/api/interactions.ts
  pages/register.tsx
  src/Home/Intro/index.tsx
  src/Home/NoCaptcha/index.tsx
  src/Home/index.tsx
  src/common/Button/index.tsx
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

implement common GradientText component
  src/Home/About/index.tsx
  src/Home/Benefits/index.tsx
  src/Home/Intro/index.tsx
  src/Home/Steps/index.tsx
  src/common/GradientText/index.tsx
Due: eslint --cache --fix, prettier --write

implement verification page ui
  pages/verification.tsx
  public/icons/cross.svg
  src/Admin/index.tsx
  src/Verification/CredentialsItem/index.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/SuccessScene/index.tsx
  src/Verification/common/Footer/index.tsx
  src/Verification/index.tsx
  src/Verification/types/index.ts
  src/Verification/types/scene.ts
  src/Verification/types/verification-error.ts
  src/assets/globals.css
  src/common/GuildLabel/index.tsx
  src/common/ModalPageLayout/index.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

fix formatting
  src/Verification/InitialScene/index.tsx
Due: eslint --cache --fix, prettier --write

fix: upgrade constructs from 10.1.42 to 10.1.200
  package-lock.json
  package.json
Due: prettier --write

update admin modal (#28)
  src/Admin/RadioButton/index.tsx
  src/Admin/RolesSelector/Selector/index.tsx
  src/Admin/RolesSelector/index.tsx
  src/Admin/StyledCheckbox/index.tsx
  src/Admin/common/InputContainer/index.tsx
  src/Admin/index.tsx
Due: eslint --cache --fix, prettier --write

implement verify link discord message
  package-lock.json
  package.json
  pages/api/interactions.ts
  pages/verification.tsx
Due: eslint --cache --fix, prettier --write

fix spelling
  pages/api/interactions.ts
Due: eslint --cache --fix, prettier --write

remove verification page
  pages/verification.tsx
Due: eslint --cache --fix, prettier --write

update verification page design
  public/icons/gradient-human.png
  public/icons/mobile-device-huge.svg
  public/icons/orb-huge.svg
  public/images/background.svg
  public/images/verification/honeycombs-small.svg
  src/Home/Intro/index.tsx
  src/Home/index.tsx
  src/Verification/CredentialsItem/index.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/CredentialsItem/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/SuccessScene/index.tsx
  src/Verification/common/Footer/index.tsx
  src/Verification/index.tsx
  src/common/Button/index.tsx
  src/common/Header/index.tsx
  src/common/Icon/icon.module.css
  src/common/Icon/index.tsx
  src/common/InfoLine/index.tsx
  src/common/Layout/index.tsx
  src/common/Modal/index.tsx
  src/common/ModalPageLayout/index.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

adjust admin page UI
  public/images/admin/background.svg
  src/Admin/index.tsx
Due: eslint --cache --fix, prettier --write

adjust paddings
  tailwind.config.js
Due: prettier --write

UI of verification page (#38)
  pages/verification.tsx
  public/icons/cross.svg
  public/icons/gradient-human.png
  public/icons/mobile-device-huge.svg
  public/icons/orb-huge.svg
  public/images/admin/background.svg
  public/images/background.svg
  public/images/verification/honeycombs-small.svg
  src/Admin/index.tsx
  src/Home/About/index.tsx
  src/Home/Benefits/index.tsx
  src/Home/Intro/index.tsx
  src/Home/Steps/index.tsx
  src/Home/index.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/CredentialsItem/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/SuccessScene/index.tsx
  src/Verification/index.tsx
  src/Verification/types/index.ts
  src/Verification/types/scene.ts
  src/Verification/types/verification-error.ts
  src/assets/globals.css
  src/common/Button/index.tsx
  src/common/GradientText/index.tsx
  src/common/GuildLabel/index.tsx
  src/common/Header/index.tsx
  src/common/Icon/icon.module.css
  src/common/Icon/index.tsx
  src/common/InfoLine/index.tsx
  src/common/Layout/index.tsx
  src/common/Modal/index.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

Verify message (#40)
  package-lock.json
  package.json
  pages/api/interactions.ts
Due: eslint --cache --fix, prettier --write

feat: authentication with necessary permissions
  next-auth.d.ts
  pages/api/auth/[...nextauth].ts
Due: eslint --cache --fix, prettier --write

feat: fetch guild roles
  package-lock.json
  package.json
  pages/admin.tsx
  src/Admin/index.tsx
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

feat: implement verification via idkit
  cspell.json
  package-lock.json
  package.json
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write

feat: implement verification via idkit (#41)
  cspell.json
  package-lock.json
  package.json
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write

feat: fetch roles from guild (#42)
  next-auth.d.ts
  package-lock.json
  package.json
  pages/admin.tsx
  pages/api/auth/[...nextauth].ts
  src/Admin/index.tsx
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

saving roles to dynamodb
  .env.local.example
  next.config.js
  package-lock.json
  package.json
  pages/admin.tsx
  pages/api/dynamodb/save.ts
  src/Admin/RolesSelector/index.tsx
  src/Admin/StyledCheckbox/index.tsx
  src/Admin/index.tsx
  src/common/GuildLabel/index.tsx
  src/common/types/bot-config.ts
  src/services/discord.ts
  src/services/dynamodb.ts
Due: eslint --cache --fix, prettier --write

fix: upgrade constructs from 10.1.42 to 10.1.201
  package-lock.json
  package.json
Due: prettier --write

implement fetching data from dynamoDB
  cspell.json
  pages/admin.tsx
  pages/verification.tsx
  src/Admin/RolesSelector/Selector/index.tsx
  src/Admin/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
  src/common/types/bot-config.ts
  src/common/types/guild.ts
  src/common/types/index.ts
  src/helpers/create-initial-config.ts
  src/helpers/find-roles.ts
  src/helpers/generate-guild-image.ts
  src/helpers/index.ts
  src/services/discord.ts
  src/services/dynamodb.ts
Due: eslint --cache --fix, prettier --write

fix formatting
  src/Admin/index.tsx
Due: eslint --cache --fix, prettier --write

update the way verification page gets discord user data
  pages/api/interactions.ts
  pages/verification.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write

add table creation before build
  .env.local.example
  create-table.ts
  package-lock.json
  package.json
  src/services/dynamodb.ts
Due: eslint --cache --fix, prettier --write

fix formatting
  src/services/dynamodb.ts
Due: eslint --cache --fix, prettier --write

exclude table creation from github ci
  .github/workflows/ci.yml
Due: none

Connect discord bouncer to dynamodb (#44)
  .env.local.example
  .github/workflows/ci.yml
  create-table.ts
  cspell.json
  next.config.js
  package-lock.json
  package.json
  pages/admin.tsx
  pages/api/dynamodb/save.ts
  pages/api/interactions.ts
  pages/verification.tsx
  src/Admin/RolesSelector/Selector/index.tsx
  src/Admin/RolesSelector/index.tsx
  src/Admin/StyledCheckbox/index.tsx
  src/Admin/index.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
  src/common/GuildLabel/index.tsx
  src/common/types/bot-config.ts
  src/common/types/guild.ts
  src/common/types/index.ts
  src/helpers/create-initial-config.ts
  src/helpers/find-roles.ts
  src/helpers/generate-guild-image.ts
  src/helpers/index.ts
  src/services/discord.ts
  src/services/dynamodb.ts
Due: eslint --cache --fix, prettier --write

feat: implement verification completion
  package-lock.json
  package.json
  pages/api/verification/complete.ts
  pages/verification.tsx
  src/Verification/index.tsx
  src/common/types/verification-complete.ts
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

feat: show assigned roles on success page
  pages/api/verification/complete.ts
  src/Verification/InitialScene/index.tsx
  src/Verification/SuccessScene/index.tsx
  src/Verification/index.tsx
  src/common/types/verification-complete.ts
Due: eslint --cache --fix, prettier --write

lint: formatting
  src/Verification/SuccessScene/index.tsx
  src/Verification/index.tsx
  src/common/types/verification-complete.ts
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write
