Repository worldcoin/world-id-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,js,jsx,mjs,css,json,md,yaml,graphql,mjml,svg}": "prettier --write"
}

update homepage
  public/images/dots.png
  public/images/home/about.png
  public/images/home/dots.svg
  public/images/home/honeycombs-triangle.svg
  src/Home/About/index.tsx
  src/Home/Benefits/index.tsx
  src/Home/Intro/index.tsx
  src/Home/Join/index.tsx
  src/Home/Methods/Card/index.tsx
  src/Home/Methods/index.tsx
  src/Home/NoCaptcha/index.tsx
  src/Home/Steps/index.tsx
  src/Home/index.tsx
  src/common/Footer/index.tsx
  src/common/Header/index.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

feat: show only permitted roles
  pages/admin.tsx
  src/helpers/find-roles.ts
Due: eslint --cache --fix, prettier --write

lint: formatting
  src/helpers/find-roles.ts
Due: eslint --cache --fix, prettier --write

fix: upgrade constructs from 10.1.42 to 10.1.202
  package-lock.json
  package.json
Due: prettier --write

feat: show verify command message visible only for caller
  pages/api/interactions.ts
Due: eslint --cache --fix, prettier --write

move actionId to envs
  .env.local.example
  pages/verification.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write

feat: implement verification completion (#45)
  .env.local.example
  package-lock.json
  package.json
  pages/admin.tsx
  pages/api/verification/complete.ts
  pages/verification.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/SuccessScene/index.tsx
  src/Verification/index.tsx
  src/common/types/verification-complete.ts
  src/helpers/find-roles.ts
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

feat: show verify command message visible only for caller (#48)
  pages/api/interactions.ts
Due: eslint --cache --fix, prettier --write

update homepage (#46)
  public/images/dots.png
  public/images/home/about.png
  public/images/home/dots.svg
  public/images/home/honeycombs-triangle.svg
  src/Home/About/index.tsx
  src/Home/Benefits/index.tsx
  src/Home/Intro/index.tsx
  src/Home/Join/index.tsx
  src/Home/Methods/Card/index.tsx
  src/Home/Methods/index.tsx
  src/Home/NoCaptcha/index.tsx
  src/Home/Steps/index.tsx
  src/Home/index.tsx
  src/common/Footer/index.tsx
  src/common/Header/index.tsx
  tailwind.config.js
Due: eslint --cache --fix, prettier --write

add license
  LICENSE
Due: none

update README
  README.md
  public/images/logo.png
Due: prettier --write

update logo
  pages/_document.tsx
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icons/logo.svg
  public/images/logo.png
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
Due: eslint --cache --fix, prettier --write

update tab titles
  src/Admin/index.tsx
  src/Verification/index.tsx
  src/common/Layout/index.tsx
Due: eslint --cache --fix, prettier --write

add unknown word to cspell
  cspell.json
Due: prettier --write

Update logo (#50)
  cspell.json
  pages/_document.tsx
  public/android-chrome-192x192.png
  public/android-chrome-384x384.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icons/logo.svg
  public/images/logo.png
  public/index.html
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  src/Admin/index.tsx
  src/Verification/index.tsx
  src/common/Layout/index.tsx
Due: eslint --cache --fix, prettier --write

action ID example
  package.json
  pages/verification.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

update
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update idkit
  pages/verification.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write

lint: formatting
  src/Verification/ErrorScene/index.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write

temp logs
  pages/api/interactions.ts
Due: eslint --cache --fix, prettier --write

update @worldcoin/idkit
  package.json
  yarn.lock
Due: prettier --write

update prettier rules
  .prettierrc.js
  package.json
Due: prettier --write

update format scripts
  package.json
Due: prettier --write

apply new formatting
  src/Admin/RolesSelector/Selector/index.tsx
  src/Admin/RolesSelector/index.tsx
  src/Admin/StyledCheckbox/index.tsx
  src/Admin/index.tsx
  src/Admin/types/option.ts
  src/Home/About/index.tsx
  src/Home/Benefits/index.tsx
  src/Home/CTA/index.tsx
  src/Home/Intro/index.tsx
  src/Home/Join/index.tsx
  src/Home/Methods/Card/index.tsx
  src/Home/Methods/index.tsx
  src/Home/NoCaptcha/index.tsx
  src/Home/index.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/CredentialsItem/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/SuccessScene/index.tsx
  src/Verification/index.tsx
  src/common/Button/index.tsx
  src/common/Captcha/index.tsx
  src/common/Footer/index.tsx
  src/common/GradientText/index.tsx
  src/common/GuildLabel/index.tsx
  src/common/Header/index.tsx
  src/common/Icon/index.tsx
  src/common/InfoLine/index.tsx
  src/common/Layout/index.tsx
  src/common/Modal/index.tsx
  src/common/types/bot-config.ts
  src/common/types/get-bot-config-result.ts
  src/common/types/verification-complete.ts
  src/helpers/create-initial-config.ts
  src/helpers/find-roles.ts
  src/services/discord.ts
  src/services/dynamodb.ts
Due: eslint --cache --fix, prettier --write

add pages folder to format check
  package.json
Due: prettier --write

formatting
  pages/_app.tsx
  pages/_document.tsx
  pages/admin.tsx
  pages/api/auth/[...nextauth].ts
  pages/api/dynamodb/save.ts
  pages/api/interactions.ts
  pages/api/verification/complete.ts
  pages/index.tsx
  pages/verification.tsx
Due: eslint --cache --fix, prettier --write

remove temp logs
  pages/api/interactions.ts
Due: eslint --cache --fix, prettier --write

add verification methods section
  src/Home/Methods/Card/index.tsx
  src/Home/Methods/index.tsx
  src/Home/index.tsx
Due: eslint --cache --fix, prettier --write

add image to discord message
  pages/api/interactions.ts
  public/images/api/interactions/verify-initial.png
Due: eslint --cache --fix, prettier --write

Update interactions.ts
  pages/api/interactions.ts
Due: eslint --cache --fix, prettier --write

add image to discord message (#55)
  pages/api/interactions.ts
  public/images/api/interactions/verify-initial.png
Due: eslint --cache --fix, prettier --write

remove comment
  src/Home/index.tsx
Due: eslint --cache --fix, prettier --write

update link at orb card
  src/Home/Methods/index.tsx
Due: eslint --cache --fix, prettier --write

update lock files
  package-lock.json
  yarn.lock
Due: prettier --write

fix formatting
  src/Verification/ErrorScene/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update idkit (#52)
  package-lock.json
  package.json
  pages/verification.tsx
  src/Verification/ErrorScene/index.tsx
  src/Verification/InitialScene/index.tsx
  src/Verification/index.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat: update /verify command description
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

fix: show guild on error screen
  src/Verification/ErrorScene/index.tsx
  src/Verification/index.tsx
Due: eslint --cache --fix, prettier --write
