Repository worldcoin/world-id-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

fix verification error
  .env.local.example
  @types/env.d.ts
  package.json
  pages/api/dynamodb/save.ts
  pages/api/verification/complete.ts
  pnpm-lock.yaml
  src/services/posthog.ts
Due: eslint --cache --fix, prettier --write

fix verification error (#301)
  .env.local.example
  @types/env.d.ts
  package.json
  pages/api/dynamodb/save.ts
  pages/api/verification/complete.ts
  pnpm-lock.yaml
  src/services/posthog.ts
Due: eslint --cache --fix, prettier --write

Update .github/workflows/relyance-sci.yml
  .github/workflows/relyance-sci.yml
Due: none

enable temp maintenance mode
  @types/env.d.ts
  pages/api/interactions.ts
  src/Home/index.tsx
Due: eslint --cache --fix, prettier --write

update codeowners
  CODEOWNERS
Due: none

enable temp maintenance mode (#302)
  @types/env.d.ts
  pages/api/interactions.ts
  src/Home/index.tsx
Due: eslint --cache --fix, prettier --write

fix file name
  features/verification/utils/send-discord-error-message-response.ts
  features/verification/utils/send-discord-success-message-response.ts
  lib/discord/edit-interaction-message.ts
Due: eslint --cache --fix, prettier --write

Fix typos in Discord integration verification messages for improved clarity
  messages/en.json
Due: prettier --write

update manifest
  app/manifest.json
Due: prettier --write

add missing translations
  features/admin/components/SubmitSection.tsx
  messages/en.json
Due: eslint --cache --fix, prettier --write

add exception handler in roles route
  app/api/admin/roles/route.ts
Due: eslint --cache --fix, prettier --write

fix workflows permissions
  .github/workflows/ci.yml
Due: none

fix copy
  features/admin/components/SubmitSection.tsx
Due: eslint --cache --fix, prettier --write

show error if bot is disabled
  app/api/interactions/route.ts
  features/verification/utils/send-discord-error-message-response.ts
  utils/compose-discord-error-message.ts
Due: eslint --cache --fix, prettier --write

fix workflows permissions (#304)
  .github/workflows/ci.yml
Due: none

Show error if config is disabled (#305)
  app/api/interactions/route.ts
  features/admin/components/SubmitSection.tsx
  features/verification/utils/send-discord-error-message-response.ts
  utils/compose-discord-error-message.ts
Due: eslint --cache --fix, prettier --write

fix cve
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix cve (#307)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update react, react-dom, next
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix build
  app/[locale]/layout.tsx
Due: eslint --cache --fix, prettier --write

fix cve (#309)
  app/[locale]/layout.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

add admin permissions check
  .vscode/settings.json
  app/[locale]/admin/page.tsx
  app/api/admin/bot-config/route.ts
  app/api/admin/create-action/route.ts
  app/api/admin/roles/route.ts
  lib/discord/user-is-guild-admin.ts
  server/auth-options.ts
  server/require-guild-admin.ts
  utils/generic-errors.ts
Due: eslint --cache --fix, prettier --write

bump next & next-auth versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

bump next & next-auth versions (#311)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use server-side app ID for cloud proof verification
  app/api/verification/complete/route.ts
  features/verification/components/VerificationScreen.tsx
  schemas/verification-complete.ts
Due: eslint --cache --fix, prettier --write

Use server-side app ID for cloud proof verification (#312)
  app/api/verification/complete/route.ts
  features/verification/components/VerificationScreen.tsx
  schemas/verification-complete.ts
Due: eslint --cache --fix, prettier --write

allow MANAGE_GUILD role for accessing config
  lib/discord/user-is-guild-admin.ts
Due: eslint --cache --fix, prettier --write

Add live Discord permission check for admin endpoints (#310)
  .vscode/settings.json
  app/[locale]/admin/page.tsx
  app/api/admin/bot-config/route.ts
  app/api/admin/create-action/route.ts
  app/api/admin/roles/route.ts
  lib/discord/user-is-guild-admin.ts
  server/auth-options.ts
  server/require-guild-admin.ts
  utils/generic-errors.ts
Due: eslint --cache --fix, prettier --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Update dependencies: bump Next.js to 15.5.16 and Next-Intl to 4.11.0 in package.json and pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs,css,json,md,yaml,graphql,mjml,svg}
