Repository worldcoin/world-id-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

Update dependencies: bump Next.js to 15.5.16 and Next-Intl to 4.11.0 in package.json and pnpm-lock.yaml (#314)
  package.json
  pnpm-lock.yaml
Due: prettier --write

add dependabot config
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

add dependabot config (#317)
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

remove ci pnpm version
  .github/workflows/ci.yml
Due: none

remove ci pnpm version (#321)
  .github/workflows/ci.yml
Due: none

fix format
  .prettierignore
  lib/discord/user-is-guild-admin.ts
Due: eslint --cache --fix, prettier --write

chore(ci): update CI workflow triggers and add dependabot cooldown
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

chore(ci): extend job conditions to include CONTRIBUTORS
  .github/workflows/ci.yml
Due: none

fix spellcheck
  cspell.json
Due: prettier --write

chore(ci): update CI workflow triggers and add dependabot cooldown (#325)
  .github/dependabot.yml
  .github/workflows/ci.yml
  cspell.json
Due: prettier --write

chore(deps): update ESLint configuration and dependencies
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(verification): enhance error handling and role assignment logic
  app/api/verification/complete/route.ts
  features/verification/components/ErrorScene.tsx
  features/verification/types/verification-error.ts
  messages/en.json
Due: eslint --cache --fix, prettier --write

fix: update next from 15.5.18 to 15.5.24
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update next from 15.5.18 to 15.5.24 (#342)
  package.json
  pnpm-lock.yaml
Due: prettier --write

style: format response types
  features/admin/types/create-action.ts
  features/verification/types/verification-complete-response-payload.ts
Due: eslint --cache --fix, prettier --write

refactor(verification): enhance error handling and role assignment logic (#339)
  app/api/verification/complete/route.ts
  features/verification/components/ErrorScene.tsx
  features/verification/types/verification-error.ts
  messages/en.json
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,jsx,mjs,css,json,md,yaml,graphql,mjml,svg}
