Repository worldcoin/world-id-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.{ts,tsx,js,jsx,mjs,css,json,md,yaml,graphql,mjml,svg}": "prettier --write"
}

fix: upgrade @discordjs/rest from 0.4.1 to 0.6.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade constructs from 10.1.42 to 10.1.100
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @discordjs/builders from 0.14.0 to 0.16.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @aws-sdk/client-secrets-manager from 3.105.0 to 3.169.0
  package-lock.json
  package.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities (#17)
  package-lock.json
  package.json
Due: prettier --write

refactor: update bot install flow
  src/bot.stack.ts
  src/endpoints/get-roles.lambda.ts
  src/endpoints/oauth2-callback.lambda.ts
  src/landing-page/package-lock.json
  src/landing-page/src/components/Intro/index.tsx
  src/landing-page/src/components/Join/index.tsx
  src/landing-page/src/components/NoCaptcha/index.tsx
  src/landing-page/src/screens/Auth/index.tsx
  src/landing-page/src/screens/Configuration/index.tsx
  src/landing-page/src/utils/get-guild-roles.ts
  src/landing-page/src/utils/get-guilds.ts
  src/landing-page/src/utils/index.ts
Due: eslint --cache --fix, prettier --write

fix: roles displaing on config page
  src/endpoints/get-roles.lambda.ts
  src/landing-page/src/screens/Configuration/index.tsx
  src/landing-page/src/utils/get-guild-roles.ts
  src/landing-page/src/utils/save-bot-config.ts
  src/world-id/assign-roles-on-verified.lambda.ts
Due: eslint --cache --fix, prettier --write

refactor: remove roles adding after bot installation
  src/endpoints/oauth2-callback.lambda.ts
Due: eslint --cache --fix, prettier --write

refactor: add endpoints in bot api to fetch data from landing-page
  .projenrc.ts
  src/bot.stack.ts
  src/endpoints/get-bot-config.lambda.ts
  src/endpoints/oauth2-callback.lambda.ts
  src/endpoints/save-bot-config.lambda.ts
  src/landing-page/.projen/deps.json
  src/landing-page/package-lock.json
  src/landing-page/package.json
  src/landing-page/src/screens/Configuration/index.tsx
  src/landing-page/src/utils/dynamodb-client.ts
  src/landing-page/src/utils/get-bot-config.ts
  src/landing-page/src/utils/get-guild-roles.ts
  src/landing-page/src/utils/index.ts
  src/landing-page/src/utils/save-bot-config.ts
  src/utils/fetch-bot-config.ts
  src/world-id/assign-roles-on-verified.lambda.ts
  src/world-id/resources.queue-processing.ts
Due: eslint --cache --fix, prettier --write

chore: update redirect url to staging url
  src/endpoints/oauth2-callback.lambda.ts
Due: eslint --cache --fix, prettier --write

fix: cors blocking
  src/endpoints/get-bot-config.lambda.ts
  src/endpoints/get-roles.lambda.ts
  src/endpoints/save-bot-config.lambda.ts
Due: eslint --cache --fix, prettier --write

fix: using ids instead of name in verified user roles
  src/world-id/check-is-user-verified.ts
Due: eslint --cache --fix, prettier --write

chore: add cors headers to error responses
  src/endpoints/get-bot-config.lambda.ts
  src/endpoints/get-roles.lambda.ts
  src/endpoints/save-bot-config.lambda.ts
Due: eslint --cache --fix, prettier --write

refactor: update configuration form ui
  src/landing-page/src/screens/Configuration/Selector/index.tsx
  src/landing-page/src/screens/Configuration/index.tsx
Due: eslint --cache --fix, prettier --write

install classnames
  package-lock.json
  package.json
Due: prettier --write

add images/icons/favicon
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/icons/app-store.svg
  public/icons/chart.svg
  public/icons/check.svg
  public/icons/chevron.svg
  public/icons/cross.svg
  public/icons/discord.svg
  public/icons/external.svg
  public/icons/github.svg
  public/icons/info.svg
  public/icons/logo.svg
  public/icons/play-market.svg
  public/icons/world-id.svg
  public/images/discord.png
  public/images/dots.png
  public/images/honeycombs.png
  public/images/orb.png
  public/images/qr.png
  public/index.html
  public/manifest.json
  public/mstile-150x150.png
  public/robots.txt
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: prettier --write

update tailwind config + add fonts
  src/assets/globals.css
  tailwind.config.js
Due: prettier --write

implement Home page
  src/Home/About/index.tsx
  src/Home/Benefits/index.tsx
  src/Home/CTA/index.tsx
  src/Home/Intro/index.tsx
  src/Home/Join/index.tsx
  src/Home/NoCaptcha/index.tsx
  src/Home/Steps/index.tsx
  src/Home/index.tsx
  src/common/Button/index.tsx
  src/common/Catpcha/index.tsx
  src/common/Footer/index.tsx
  src/common/Header/index.tsx
  src/common/Icon/icon.module.css
  src/common/Icon/index.tsx
  src/common/Layout/index.tsx
Due: eslint --cache --fix, prettier --write

add admin page
  pages/admin.tsx
  public/icons/check.svg
  public/icons/mobile-device.svg
  public/icons/orb.svg
  src/Admin/RadioButton/index.tsx
  src/Admin/Selector/index.tsx
  src/Admin/common/InputContainer/index.tsx
  src/Admin/index.tsx
  src/Admin/types/option.ts
  src/common/Icon/index.tsx
  src/common/types/bot-config.ts
  src/common/types/get-bot-config-result.ts
  src/common/types/guild.ts
  src/common/types/index.ts
Due: eslint --cache --fix, prettier --write

update manifest names
  public/manifest.json
  public/site.webmanifest
Due: prettier --write

feat: discord interactions handler
  .env.local.example
  README.md
  package-lock.json
  package.json
  pages/api/hello.ts
  pages/api/interactions.ts
  pages/register.tsx
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

update readme
  README.md
Due: prettier --write

install cspell
  cspell.json
  package-lock.json
  package.json
Due: prettier --write

add ci
  .github/workflows/ci.yml
Due: none

fix ci errors
  pages/api/hello.ts
  src/Home/About/index.tsx
  src/Home/Intro/index.tsx
  src/common/Captcha/index.tsx
Due: eslint --cache --fix, prettier --write

fix build ci
  .github/workflows/ci.yml
Due: none

Ci (#27)
  .github/workflows/ci.yml
  cspell.json
  package-lock.json
  package.json
  pages/api/hello.ts
  src/Home/About/index.tsx
  src/Home/Intro/index.tsx
  src/common/Captcha/index.tsx
Due: eslint --cache --fix, prettier --write

fix formatting
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

fix lint sctipt
  package.json
Due: prettier --write

feat: discord interactions handler (#26)
  .env.local.example
  README.md
  package-lock.json
  package.json
  pages/api/hello.ts
  pages/api/interactions.ts
  pages/register.tsx
  src/services/discord.ts
Due: eslint --cache --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

update admin modal
  src/Admin/RadioButton/index.tsx
  src/Admin/RolesSelector/Selector/index.tsx
  src/Admin/RolesSelector/index.tsx
  src/Admin/StyledCheckbox/index.tsx
  src/Admin/common/InputContainer/index.tsx
  src/Admin/index.tsx
Due: eslint --cache --fix, prettier --write

fix: upgrade react-router-dom from 6.3.0 to 6.6.1
  src/landing-page/package-lock.json
  src/landing-page/package.json
Due: prettier --write

fix: upgrade multiple dependencies with Snyk
  src/landing-page/package-lock.json
  src/landing-page/package.json
Due: prettier --write

fix: upgrade classnames from 2.3.1 to 2.3.2
  src/landing-page/package-lock.json
  src/landing-page/package.json
Due: prettier --write

fix: upgrade constructs from 10.1.42 to 10.1.199
  package-lock.json
  package.json
Due: prettier --write
